{
  "env": {

    "test": {
      "presets": [
        "env",
        "jest"
      ]
    },

    "esm": {
      "presets": [
        ["env", {
          "modules": false
        }]
      ]
    },

    "cjs": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": [
              "last 2 versions"
            ]
          }
        }]
      ]
    }

  },

  "plugins": [
    "inline-json-import"
  ],

  "presets": [
    "env",
    "stage-3"
  ]

}
